<h3 class="text-center">
  <a href="https://www.reddit.com/r/{{ subreddit.id }}/{{ settings.type }}" target="_blank">r/{{ subreddit.id }}</a>
  <small class="remove-subreddit align-text-top">
    <a (click)="removeSubreddit.emit(subreddit.id)" title="Delete subreddit">&times;</a>
  </small>
</h3>
<p class="text-center">
  <button [ngClass]="{'btn-primary': settings.type == ''}" class="btn btn-sm" (click)="onSetType('')">Hot</button>
  <button [ngClass]="{'btn-primary': settings.type == 'rising'}" class="btn btn-sm" (click)="onSetType('rising')">Rising</button>
  <button [ngClass]="{'btn-primary': settings.type == 'new'}" class="btn btn-sm" (click)="onSetType('new')">New</button>
  <button [ngClass]="{'btn-primary': settings.type == 'top'}" class="btn btn-sm" (click)="onSetType('top')">Top</button>
</p>
<div class="posts-container">
  <h4 *ngIf="! subreddit.loaded && subreddit.loading" class="text-center text-muted mt-5">Loading...</h4>
  <h4 *ngIf="posts.length == 0 && subreddit.loaded" class="text-center text-muted mt-5">Nothin' Bang'n</h4>
  <div *ngIf="subreddit.loaded" class="list-group m-3">
    <bfr-post-detail *ngFor="let post of posts; trackBy: trackById" class="list-group-item" [ngClass]="{
          'list-group-item-warning': post.highlightLevel == 'medium',
          'list-group-item-danger': post.highlightLevel == 'high'
        }" [post]="post">
    </bfr-post-detail>
  </div>
</div>
