.posts-container {
  height: 100%;
  overflow-y: scroll;
}

.remove-subreddit {
  cursor: pointer;
  font-size: 60%;
  margin-left: 5px;
}

.settings-container {
  > button {
    margin-left: 5px;
  }

  > button:first-child {
    margin-left: 0px;
  }
}