@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(lg) {
  .navbar-collapse {
    opacity: 1 !important;
    max-height: inherit !important;
  }
}

input.form-control {
  width: 240px;
}

@include media-breakpoint-down(md) {
  .nav-link {
    margin-right: 0.5rem;
  }
}

.delete-deck {
  cursor: pointer;
}
